@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

.destaque-titulo{
    color: #89C5CC;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.apresentacao__texto{
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__texto__titulo{
    font-family: "Mulish", sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
}

.apresentacao__texto__paragrafo{
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: #7D7987
}

.apresentacao__texto__botao{
    color: #F9F9F9;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #89C5CC;
    background-color: #69B99D;
    padding: 20px;
    border-radius: 4px;
    font-size: 24px;
    width: 169px;
}

.texto-rodape{
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5%;
    
}

.cabecalho-direita{
    flex-direction: row;
}

.cabecalho-esquerda{
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #89C5CC;
    padding-left: 142px;
}

.cabecalho-direita{
    display: flex;
    gap: 100px;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    padding-right: 142px;
}